body {
  background-color: #1d5fb6;
}

h1 {
  font-family: "Helvetica";
  font-size: 70px;
  font-variant: normal;
  text-align: center;

}

h2 {
  font-family: "Helvetica";
  font-size: 30px;
  font-variant: normal;
  text-align: center

}

ol {
  font-style: italic;

}

.jumbotron {
  background-color: #dd5428;
  font-family: "Helvetica";
  font-size: 55px;
  font-variant: normal;
  text-align: center;

}

.column {
  float: inherit;
  width: 50%;
}

.btn {
  background-color: #white;
  border: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
